.main-nav {
    min-height: 68px;
    padding-left: 18px;
}

.nav-logo-text, .nav-logo-text:hover{
    text-decoration: none;
}

.nav-logo-text h4 {
    color: black;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.015em;
    text-decoration: none;
    margin-bottom: 0;
}

@media(min-width:1200px){
    .main-nav {
        padding-left: 50px;
    }
}